<html>
    <head>
        <title>untitled document</title>
        <script type = "text/javascript">
            function checkAll() {
                if(document.forms[0].masterbox.checked==true){
                    last_index = document.forms[0].elements["timestamps_to_delete"].length;
                    if (last_index > 20) {last_index = 20;}
                    for(var i=0; i< last_index; i++) {
                        document.forms[0].elements["timestamps_to_delete"][i].checked=true;
                        
                    }
                }
                else {
                    for(var i=0; i< document.forms[0].elements["timestamps_to_delete"].length; i++) {
                        document.forms[0].elements["timestamps_to_delete"][i].checked=false;
                    }
                }
            }
        </script>
    </head>
    <body bgcolor="#ddddff">
    <h1>Ungesichtetes Material</h1>
    
    <!-- Linklist -->
    <div style="float:left">
        <form action="index.pl" method="get">
            <input type="checkbox" name="masterbox" onclick="checkAll()" value="">Alle ausw&auml;hlen<br />
            [% FOREACH current_timestamp IN timestamps %]
                <input type="checkbox" name="timestamps_to_delete" value="[% current_timestamp %]">
                <a href="?timestamp=[% current_timestamp %]">[% current_timestamp %]</a><br/>
            [% END %]
            <input type="hidden" name="delete" value="yes" />
            [% IF timestamp %]
                <input type="hidden" name="timestamp" value="[% timestamp %]" />
            [% END %]
            <input value="Alle Bilder l&ouml;schen" type="submit" onClick="return confirm(\'Wirklich die gew&auml;hlten Bilder l&ouml;schen?\');" /><br/>
        </form>
    </div>
    
    
    
    
    [% IF timestamp %]
        <!-- Back button, forward button, save button, the two images -->
        <div style="border:3px black dotted; float:left">
            Seite [% current_page_number %] von [% total_pages_amount %] <br/>
            [% IF previous_timestamp %]
                <a href="?timestamp=[% previous_timestamp %]"><input value="[% previous_timestamp %]" type="button"></a>
            [% ELSE %]
                &emsp;&emsp;&emsp;&emsp;&emsp;nothing
            [% END %]
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;...&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            [% IF next_timestamp %]
                <a href="?timestamp=[% next_timestamp %]"><input value="[% next_timestamp %]" type="button"></a>
            [% ELSE %]
                nothing
            [% END %]
            
            <hr/>
            <table>
                <th>Screenshot</th>
                <th>Webcam</th>
                <tr>
                    <td>
                        [% IF screenshot %]
                            <a href="./[% screenshot %]"><img src="./[% screenshot %]" height="480" /></a>
                        [% END %]
                    </td>
                    <td>
                        [% IF webcam %]
                            <a href="./[% webcam %]"><img src="./[% webcam %]" height="480" /></a>
                        [% END %]
                    </td>
                </tr>
            </table>
        </div>
    [% END %]
    
    </body>
</html>
