<html>
    <head>
        <title>untitled document</title>
        <script type = "text/javascript">
            function checkAll() {
                if(document.forms[0].masterbox.checked==true){
                    last_index = document.forms[0].elements["timestamps_to_delete[]"].length;
                    if (last_index > 20) {last_index = 20;}
                    for(var i=0; i< last_index; i++) {
                        document.forms[0].elements["timestamps_to_delete[]"][i].checked=true;
                        
                    }
                }
                else {
                    for(var i=0; i< document.forms[0].elements["timestamps_to_delete[]"].length; i++) {
                        document.forms[0].elements["timestamps_to_delete[]"][i].checked=false;
                    }
                }
            }
        </script>
    </head>
    <body bgcolor="#ddffdd">
    <h1>Ungesichtetes Material</h1>
    <form action="index.php" method="get">
    
    
    
    
    
    
    
    
    
    </body>
</html>
